<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqz.marketbg.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wqz.marketbg.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="attentionNumber" property="attentionnumber" jdbcType="INTEGER" />
    <result column="registerTime" property="registertime" jdbcType="TIMESTAMP" />
    <result column="QRCode" property="qrcode" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="dynamicStruts" property="dynamicstruts" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="push_on" property="pushOn" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickName, phone, account, password, type, icon, attentionNumber, registerTime, 
    QRCode, signature, dynamicStruts, score, push_on
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wqz.marketbg.pojo.User" >
    insert into user (id, nickName, phone, 
      account, password, type, 
      icon, attentionNumber, registerTime, 
      QRCode, signature, dynamicStruts, 
      score, push_on)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{attentionnumber,jdbcType=INTEGER}, #{registertime,jdbcType=TIMESTAMP}, 
      #{qrcode,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{dynamicstruts,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{pushOn,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wqz.marketbg.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="attentionnumber != null" >
        attentionNumber,
      </if>
      <if test="registertime != null" >
        registerTime,
      </if>
      <if test="qrcode != null" >
        QRCode,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="dynamicstruts != null" >
        dynamicStruts,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="pushOn != null" >
        push_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="attentionnumber != null" >
        #{attentionnumber,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="dynamicstruts != null" >
        #{dynamicstruts,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="pushOn != null" >
        #{pushOn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wqz.marketbg.pojo.User" >
    update user
    <set >
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="attentionnumber != null" >
        attentionNumber = #{attentionnumber,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        registerTime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrcode != null" >
        QRCode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="dynamicstruts != null" >
        dynamicStruts = #{dynamicstruts,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="pushOn != null" >
        push_on = #{pushOn,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wqz.marketbg.pojo.User" >
    update user
    set nickName = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      attentionNumber = #{attentionnumber,jdbcType=INTEGER},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      QRCode = #{qrcode,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      dynamicStruts = #{dynamicstruts,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      push_on = #{pushOn,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>